*, *::before, *::after {
  font-family: 'Lobster', cursive;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.num::after {
  font-size: 1rem;
  color: orangered;
  text-shadow: 
  -1px 0 black, 
  0 1px black, 
  1px 0 black, 
  0 -1px black;
  content: "1";
  animation: loop 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes loop {
  0%, 100% { 
    content: "3";
    font-size: 1rem;
    opacity: 0.1;
  }
  11% {
    content: "3";
    font-size: 5rem;
    opacity: 1;
  }
  22% {
    content: "3";
    font-size: 1rem;
    opacity: 0.1;
  }
  33% { 
    content: "2";
    font-size: 1rem;
    opacity: 0.1;
  }
  44% {
    content: "2";
    font-size: 5rem;
    opacity: 1;
  }
  55% {
    content: "2";
    font-size: 1rem;
    opacity: 0.1;
  }
  66% { 
    content: "1";
    font-size: 1rem;
    opacity: 0.1;
  }
  77% {
    content: "1";
    font-size: 5rem;
    opacity: 1;
  }
  88% {
    content: "1";
    font-size: 1rem;
    opacity: 0.1;
  }
}