*, *::before, *::after {
  font-family: 'Lobster', cursive;
}

body {
  background: #ffee66;
}

:root {
  --text-large: 5rem;
  --text-small: 1rem;
  --opacity-max: 1;
  --opacity-min: 0.1;
  --shadow-offset: 2px;
  --shadow-colour: #000066;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.num::after {
  font-size: var(--text-small);
  opacity: var(--opacity-min);
  color: coral;
  text-shadow: 
    var(--shadow-offset) 0 0 var(--shadow-colour), 
    -2px 0 0 var(--shadow-colour), 
    0 2px 0 var(--shadow-colour), 
    0 -2px 0 var(--shadow-colour),
    var(--shadow-offset) 0px var(--shadow-colour), 
    -1px -1px 0 var(--shadow-colour), 
    1px -1px 0 var(--shadow-colour), 
    -1px 1px 0 var(--shadow-colour);
  content: "3";
  animation: loop 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes loop {
  0%, 100% { 
    content: "3";
    font-size: var(--text-small);
    opacity: var(--opacity-min);
  --shadow-offset: 2px;
  }
  11% {
    content: "3";
    font-size: var(--text-large);
    opacity: var(--opacity-max);
  --shadow-offset: 6px;
  }
  22% {
    content: "3";
    font-size: var(--text-small);
    opacity: var(--opacity-min);
  --shadow-offset: 2px;
  }
  33% { 
    content: "2";
    font-size: var(--text-small);
    opacity: var(--opacity-min);
  --shadow-offset: 2px;
  }
  44% {
    content: "2";
    font-size: var(--text-large);
    opacity: var(--opacity-max);
  --shadow-offset: 6px;
  }
  55% {
    content: "2";
    font-size: var(--text-small);
    opacity: var(--opacity-min);
  --shadow-offset: 2px;
  }
  66% { 
    content: "1";
    font-size: var(--text-small);
    opacity: var(--opacity-min);
  --shadow-offset: 2px;
  }
  77% {
    content: "1";
    font-size: var(--text-large);
    opacity: var(--opacity-max);
  --shadow-offset: 6px;
  }
  88% {
    content: "1";
    font-size: var(--text-small);
    opacity: var(--opacity-min);
  --shadow-offset: 2px;
  }
}